@import '../../styles/styles';

.MuiBadge-anchorOriginTopRightRectangle{
    background-color: $red !important
}

.MuiButtonBase-root{
    &:hover {
        @include hoverAppBar($red, $white, 'all .2s ease-in-out');

        img{
            filter: invert(1) !important;
            transition: all .2s ease-in-out !important;
        }

        .MuiListItemIcon-root .MuiSvgIcon-root{
            @include hoverAppBar('none', $white, 'all .2s ease-in-out');
        }
    }
}