@import '../../styles/styles.scss';

.imageBannerLogin {
  background-image: url('../../assets/login-red.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@include MediaQuery($sm) {
  .login-page {
    flex-direction: column;
    align-items: center;
  }
}
