@import './styles/styles.scss';

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /////////////////////////////

}
* {
  font-family: 'Montserrat', sans-serif !important;
}
